<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="carcas">
        <div class="container_box">
            <!-- navbar -->
            <%- include('component/navbar') -%>

            <!-- slayd_film -->
            <div class="slayd_box">
                <div class="loading">
                    <img class="wait" src="/Icons/loading.png">
                    <p>Простите За ожидания</p>
                </div>
            </div>

            <div class="caption"></div>
            <!-- item_filter -->
            <div class="filter_box">
                <div class="filter_content">
                        <div>
                            <a href="master" data-genre="Action" class="genre_btn-mobile">Экшен</a>
                            <a href="master" data-genre="Adventure" class="genre_btn-mobile">Приключение</a>
                            <a href="master" data-genre="Biographies" class="genre_btn-mobile">Биография</a>
                            <a href="master" data-genre="Comedy" class="genre_btn-mobile">Комедия</a>
                            <a href="master" data-genre="Crime" class="genre_btn-mobile">Криминал</a>
                        </div>
                        <div>
                            <a href="master" data-genre="Detectives" class="genre_btn-mobile">Детектив</a>
                            <a href="master" data-genre="Documents" class="genre_btn-mobile">Документальные</a>
                            <a href="master" data-genre="Dramas" class="genre_btn-mobile">Драмы</a>
                            <a href="master" data-genre="Family" class="genre_btn-mobile">Семейный</a>
                            <a href="master" data-genre="Fantasy" class="genre_btn-mobile">Фэнтези</a>
                        </div>
                        <div>
                            <a href="master" data-genre="Historical" class="genre_btn-mobile">Историческое</a>
                            <a href="master" data-genre="Military" class="genre_btn-mobile">Военное</a>
                            <a href="master" data-genre="Melodramas" class="genre_btn-mobile">Мелодрамы</a>
                            <a href="master" data-genre="Musicals" class="genre_btn-mobile">Мюзиклы</a>
                            <a href="master" data-genre="Horror" class="genre_btn-mobile">Ужасы</a>
                        </div>
                </div>
            </div>
            <div class="filter_control">
                <div class="filter_view-card" >
                    <img class="flex" src="Icons/photo-editing.png" >
                    <img  src="Icons/button.png" >
                </div>
                <div class="filter_btn">
                    <img src="Icons/filter.png" alt="">
                </div>
            </div>

            <!-- item_box -->
            <container class="item_container">
                <div class="loading">
                    <img class="wait" src="Icons/loading.png">
                    <p>Простите За ожидания</p>
                </div>
            </container>

            <!-- page_controls -->
            <div class="page_controls">
                <a href="master" class="page_btn-minus">
                    <img src="Icons/down-left-arrow.png">
                </a>

                <div class="page_controls-num"></div>

                <a href="master" class="page_btn-plus">
                    <img src="Icons/down-left-arrow.png">
                </a>
            </div>

            <!-- footer -->
            <%- include('component/footer') -%>

        </div>
    </div>
    <script type="module" src="/js/app.js"></script>
    <script type="module" src="/js/master.js"></script>
</body>
</html>