<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="carcas">
        <div class="container_box">
            <!-- navbar -->
            <%- include('component/navbar') -%>

            <!-- recap_container -->
            <section class="recap_container">
                <div class="loading">
                    <img class="wait" src="Icons/loading.png">
                    <p>Простите За ожидания</p>
                </div>
            </section>
            

            <!-- footer -->
            <%- include('component/footer') -%>
        </div>
    </div>
    <script type="module" src="js/app.js"></script>
    <script type="module" src="js/recap.js"></script>
</body>
</html>