<section class="footer">
    <p class="footer_text">
        Рады приветствовать всех любителей интересного и качественного кино на нашем сайте. В нашем сайте можно смотреть фильмы онлайн бесплатно и без каких-либо ограничений!
    </p>
    <p class="footer_text">
        Мы постарались собрать лучшую коллекцию фильмов различных жанров, времен и народов!
    </p>
    <p class="footer_text">
        У нас вы найдете лучшие
        <a href="/master" data-catigory="film" class="nav_links-mobile">фильмы</a>, художественное 
        <a href="/master" data-catigory="anime" class="nav_links-mobile">аниме</a>, 
        <a href="/master" data-catigory="serial" class="nav_links-mobile">сериалы</a>, 
        <a href="/master" data-catigory="cartoon" class="nav_links-mobile">мультфильмы</a> а также 
        <a href="/recap" data-catigory="recap" class="nav_links-mobile">пересказ и обзор</a> фильмов, сериалов, аниме. Совершенно бесплатно и при этом в отличном качестве! Собирайтесь с друзьями, выбирайте хорошее кино, смотрите и делитесь впечатлениями! Здесь каждый сможет найти что-то интересное для себя.
    </p>
    <p class="footer_text">
        Специально для вашего удобства на сайте действует поисковая строка, благодаря которой можно быстро отыскать
        нужный фильм, введя его русское или оригинальное название. Если поиск не дал результатов, попробуйте
        воспользоваться расширенным поиском или напишите нам, и мы обязательно постараемся добавить нужный вам фильм. Мы стараемся удовлетворять запросы широкого круга зрителей, поэтому оперативно добавляем новые фильмы
        практически сразу после их выхода в прокат, а затем регулярно обновляем их качество на лучшее сразу после релиза.
    </p>
    <p class="footer_text">
        Если вы не нашли свой желанный филм напишите нам мы всегда будем рады памоч.
    </p>
    <div class="footer_btns">
        <a href="#!" class="footer_btn-rec"><span>Рекомендации</span> <ul>/</ul> <p>Жалоба</p></a>
        <a href="#!" class="footer_btn-pad">Правообладателям <ul>/</ul> Рекламодателям</a>
    </div>
</section>