<div class="navbar">
    <div class="navbar_logo">
        <a href="/" class="nav_logo-link">
            <img class="logo-link_img"src="/Icons/cinema.png" alt="">
        </a>
    </div>
    <div class="navbar_content">
        <li>
            <a href="/master" data-catigory="film" class="nav_links">фильмы</a>

            <ul class="nav_drop">
                <div class="nav_drop-genres">
                    <div>
                        <a href="/master" data-catigory="film" data-genre="Action" class="genre_btn">Экшен</a>
                        <a href="/master" data-catigory="film" data-genre="Adventure" class="genre_btn">Приключение</a>
                        <a href="/master" data-catigory="film" data-genre="Biographies" class="genre_btn">Биография</a>
                        <a href="/master" data-catigory="film" data-genre="Comedy" class="genre_btn">Комедия</a>
                        <a href="/master" data-catigory="film" data-genre="Crime" class="genre_btn">Криминал</a>
                    </div>
                    <div>
                        <a href="/master" data-catigory="film" data-genre="Detectives" class="genre_btn">Детектив</a>
                        <a href="/master" data-catigory="film" data-genre="Documents" class="genre_btn">Документальные</a>
                        <a href="/master" data-catigory="film" data-genre="Dramas" class="genre_btn">Драмы</a>
                        <a href="/master" data-catigory="film" data-genre="Family" class="genre_btn">Семейный</a>
                        <a href="/master" data-catigory="film" data-genre="Fantasy" class="genre_btn">Фэнтези</a>
                    </div>
                    <div>
                        <a href="/master" data-catigory="film" data-genre="Historical" class="genre_btn">Историческое</a>
                        <a href="/master" data-catigory="film" data-genre="Military" class="genre_btn">Военное</a>
                        <a href="/master" data-catigory="film" data-genre="Melodramas" class="genre_btn">Мелодрамы</a>
                        <a href="/master" data-catigory="film" data-genre="Musicals" class="genre_btn">Мюзиклы</a>
                        <a href="/master" data-catigory="film" data-genre="Horror" class="genre_btn">Ужасы</a>
                    </div>
                </div>
            </ul>
        </li>
        <li>
            <a href="/master" data-catigory="serial" class="nav_links">сериалы</a>

            <ul class="nav_drop">
                <div class="nav_drop-genres">
                    <div>
                        <a href="/master" data-catigory="serial" data-genre="Action" class="genre_btn">Экшен</a>
                        <a href="/master" data-catigory="serial" data-genre="Adventure" class="genre_btn">Приключение</a>
                        <a href="/master" data-catigory="serial" data-genre="Biographies" class="genre_btn">Биография</a>
                        <a href="/master" data-catigory="serial" data-genre="Comedy" class="genre_btn">Комедия</a>
                        <a href="/master" data-catigory="serial" data-genre="Crime" class="genre_btn">Криминал</a>
                    </div>
                    <div>
                        <a href="/master" data-catigory="serial" data-genre="Detectives" class="genre_btn">Детектив</a>
                        <a href="/master" data-catigory="serial" data-genre="Documents" class="genre_btn">Документальные</a>
                        <a href="/master" data-catigory="serial" data-genre="Dramas" class="genre_btn">Драмы</a>
                        <a href="/master" data-catigory="serial" data-genre="Family" class="genre_btn">Семейный</a>
                        <a href="/master" data-catigory="serial" data-genre="Fantasy" class="genre_btn">Фэнтези</a>
                    </div>
                    <div>
                        <a href="/master" data-catigory="serial" data-genre="Historical" class="genre_btn">Историческое</a>
                        <a href="/master" data-catigory="serial" data-genre="Military" class="genre_btn">Военное</a>
                        <a href="/master" data-catigory="serial" data-genre="Melodramas" class="genre_btn">Мелодрамы</a>
                        <a href="/master" data-catigory="serial" data-genre="Musicals" class="genre_btn">Мюзиклы</a>
                        <a href="/master" data-catigory="serial" data-genre="Horror" class="genre_btn">Ужасы</a>
                    </div>
                </div>
            </ul>
        </li>
        <li>
            <a href="/master" data-catigory="anime" class="nav_links">аниме</a>

            <ul class="nav_drop">
                <div class="nav_drop-genres">
                    <div>
                        <a href="/master" data-catigory="anime" data-genre="Action" class="genre_btn">Экшен</a>
                        <a href="/master" data-catigory="anime" data-genre="Adventure" class="genre_btn">Приключение</a>
                        <a href="/master" data-catigory="anime" data-genre="Biographies" class="genre_btn">Биография</a>
                        <a href="/master" data-catigory="anime" data-genre="Comedy" class="genre_btn">Комедия</a>
                        <a href="/master" data-catigory="anime" data-genre="Crime" class="genre_btn">Криминал</a>
                    </div>
                    <div>
                        <a href="/master" data-catigory="anime" data-genre="Detectives" class="genre_btn">Детектив</a>
                        <a href="/master" data-catigory="anime" data-genre="Documents" class="genre_btn">Документальные</a>
                        <a href="/master" data-catigory="anime" data-genre="Dramas" class="genre_btn">Драмы</a>
                        <a href="/master" data-catigory="anime" data-genre="Family" class="genre_btn">Семейный</a>
                        <a href="/master" data-catigory="anime" data-genre="Fantasy" class="genre_btn">Фэнтези</a>
                    </div>
                    <div>
                        <a href="/master" data-catigory="anime" data-genre="Historical" class="genre_btn">Историческое</a>
                        <a href="/master" data-catigory="anime" data-genre="Military" class="genre_btn">Военное</a>
                        <a href="/master" data-catigory="anime" data-genre="Melodramas" class="genre_btn">Мелодрамы</a>
                        <a href="/master" data-catigory="anime" data-genre="Musicals" class="genre_btn">Мюзиклы</a>
                        <a href="/master" data-catigory="anime" data-genre="Horror" class="genre_btn">Ужасы</a>
                    </div>
                </div>
            </ul>
        </li>
        <li>
            <a href="/master" data-catigory="cartoon" class="nav_links">мультфильмы</a>
        </li>
        <li>
            <a href="/recap" data-catigory="recap" class="nav_links">обзор</a>
        </li>
    </div>
    <div class="burger">
        <li></li>
        <li></li>
        <li></li>
    </div>
    <div class="navbar_search">
        <a href="#!" class="nav_search-link">
            <img src="/Icons/loupe.png" alt="">
        </a>
        <div class="navbar_input">
            <input class="nav_input" type="text"  placeholder="Поиск">
            <img class="nav_input-btn" src="/Icons/down-left-arrow.png" alt="">
        </div>
    </div>
</div>
<div class="navbar_mobile-content">
    <a href="/master" data-catigory="film" class="nav_links-mobile">фильмы</a>
    <a href="/master" data-catigory="serial" class="nav_links-mobile">сериалы</a>
    <a href="/master" data-catigory="anime" class="nav_links-mobile">аниме</a>
    <a href="/master" data-catigory="cartoon" class="nav_links-mobile">мультфильмы</a>
    <a href="/recap" data-catigory="recap" class="nav_links-mobile">обзор</a>
    <div class="navbar_input-mobile">
        <input class="nav_input nav_input-mobile" type="text"  placeholder="Поиск">
        <img class="nav_input-btn" src="/Icons/down-left-arrow.png" alt="">
    </div>

</div>